@font-face {
  font-family: 'AovelSansRounded';
  src: url('./assets/font/AovelSansRounded-rdDL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
body {
  font-family: 'AovelSansRounded', sans-serif;
}
